@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
#topo{
	width: 100vw;
	height: 10vh;
	background: linear-gradient(to left,#F2762E,#F28627,#F29B30);
}
#logo{
	width: 20%;
	height: 10vh;
	float: left;
}
#logo img{
	width: 100%;
	height: 100%;
}
#menu{
	margin-left: 20%;
	width: 80%;
	height: 10vh;
}
ul.nav{
	list-style-type: none;
	margin-top:2%;
}
ul.nav li{
	float:left;
	width: 12%;
	margin-left:4%;
	color: #A68160;
	border-right: 1px solid #998D70;
	font-size: 1.3em;
	text-align: center;
}
ul.nav li ol{
	display:none;
	list-style-type: none;
	background-color:#F2762E;
	width: 100%;
}
*{
	margin:0px;
	padding: 0px;
	font-family: 'Kanit', sans-serif;
}
ul.nav li ol li{
	margin-right: 0px;
	float: none;
	width: 100%;
	margin-left: 0px;
}
ul.nav li ol li a{
	font-size: 1em;
	text-decoration: none;
	color:white;
}
ul.nav li:hover ol{
	display: block;
}
ul.nav li ol li:hover{
	background-color:#D98292;
}
table th{
background:linear-gradient(to left,#F2762E,#F28627,#F29B30);
	border:1px solid #A68160;
	color:#A68160;
}
table td{
	border:1px solid black;
}
table{
	max-width: 70vw;
	margin-left: 15vw;
	height: auto;
}
#principal{
	width: 100vw;
	height: 80vh;
}
#janela{
	width: 100%;
	height: 100%;
	border: 0px;
}
form{
background:linear-gradient(to left,#F2762E,#F28627,#F29B30);
	width: 60vw;
	min-height: 10vh;
	margin-left: 20vw;
	margin-top: 5vw;
	border-radius: 10px;
	color:#A68160;
	text-align: center;
}
form h1{
	font-size: 1.3rem;
}